/* .container {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} */
.content {
	text-align: center;
	width: 100%;
	height: 80vh;
	position: fixed;
	z-index: 1;
}
.title {
	font-size: 4rem;
	color: white;
	margin-bottom: 4rem;
	animation: glow 2s ease-in-out infinite alternate;
	text-shadow:
		0 0 10px #8a2be2,
		0 0 20px #8a2be2,
		0 0 30px #8a2be2,
		0 0 40px #8a2be2,
		0 0 50px #8a2be2,
		0 0 60px #8a2be2;
}

@media (max-width: 768px) {
	.title {
		font-size: 3rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
	}
}
